body{
    overflow-y: hidden;
}

.y-scrollable {
    overflow-y: auto;
    max-height: 50%;
}

div .mapRow {
    padding-left: 10px;
    padding-right: 10px;
}

div.list-group-item.highlighted {
    color: #555;
    text-decoration: none;
    background-color: #f5f5f5;
}

#googleMap {
    height: 300px;
}

span img {
    max-width: 48px;
    max-height: 48px;
}